@import "@/styles/variables";
@import "rfs/scss";

.videos {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0px;

    padding: 40px 120px;
    max-width: 1200px;
    margin: auto;
  }

  &__img {
    width: fit-content;
    height: fit-content;

    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;

    .playButton {
      position: absolute;
      //   left: 50%;
      //   top: 50%;
    }
  }
}

.pupUpVideo {
  // position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  z-index: 10;

  iframe {
    // width: 60.2%;
    // height: 57.1%;

    height: calc(4.5125rem + 32.7vw);
    width: calc(6.54375rem + 53vw);
  }
}

@media screen and (max-width: 1200px) {
  .videos {
    &__container {
      padding: 40px 84px;
    }
  }
}

@media screen and (max-width: 900px) {
  .videos {
    &__container {
      padding: 40px 24px 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .videos {
    &__img {
      max-height: 400px;
    }

    &__picture {
      width: 100vw;
    }
  }

  .pupUpVideo {
    iframe {
      height: calc(4.5125rem + 39.53vw);
      width: calc(6.54375rem + 64.5vw);
    }
  }
}

@media screen and (max-width: 760px) {
  .videos {
    &__container {
      padding: 30px 20px;
    }

    &__img {
      .playButton {
        padding: 4.57px;

        &__icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pupUpVideo {
    iframe {
      height: calc(4.5125rem + 35.55vw);
      width: calc(6.54375rem + 59.89vw);
    }
  }
}
