@import "@/styles/variables";
@import "rfs/scss";

.videoMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.videos {
  &__wrapper {
    flex: 1;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0px;

    padding: 40px 120px;
    max-width: 1200px;
    margin: auto;
    // flex: 1;
  }

  &__img {
    width: fit-content;
    height: fit-content;

    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;

    .playButton {
      position: absolute;
      //   left: 50%;
      //   top: 50%;
    }
  }
}

.pupUpVideo {
  // position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.8);
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  iframe {
    // width: 60.2%;
    // height: 57.1%;

    height: calc(4.5125rem + 32.63vw);
    width: calc(6.54375rem + 52.94vw);
  }

  &__button {
    background: none;
    border: none;
    padding: 0px;
    outline: none;

    cursor: pointer;
    img {
      filter: invert(100%) sepia(8%) saturate(0) hue-rotate(88deg)
        brightness(100%) contrast(103%);
      display: flex;
    }

    &:hover,
    &:focus {
      img {
        filter: invert(77%) sepia(59%) saturate(7294%) hue-rotate(213deg)
          brightness(101%) contrast(101%);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .videos {
    &__container {
      padding: 40px 84px;
    }
  }
}

@media screen and (max-width: 900px) {
  .videos {
    &__container {
      padding: 40px 24px 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .videos {
    &__img {
      max-height: 400px;
    }

    &__picture {
      width: 100vw;
    }
  }

  .pupUpVideo {
    iframe {
      height: calc(4.5125rem + 39.44vw);
      width: calc(6.54375rem + 64.5vw);
    }
  }
}

@media screen and (max-width: 760px) {
  .videos {
    &__container {
      padding: 30px 20px;
    }

    &__img {
      .playButton {
        padding: 6.5px;

        &__icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .pupUpVideo {
    &__wrapper {
      display: grid;
    }

    iframe {
      order: 2;
    }
    &__button {
      margin-right: 0px;
      margin-left: auto;
      order: 1;
    }
  }
}

@media screen and (max-width: 400px) {
  .pupUpVideo {
    iframe {
      height: calc(4.5125rem + 35.55vw);
      width: calc(6.54375rem + 59.89vw);
    }
  }
}
