@import "@/styles/variables";
@import "rfs/scss";

.playButton {
  padding: 13.57px;
  background-color: rgba(255, 255, 255, 80%);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: transform 0.5s ease-out;

  &__icon {
    padding: 3.5px;
  }

  &:hover,
  &:focus {
    background-color: $base-color;
    transform: scale(1.1);
    .playButton__icon {
      filter: invert(30%) sepia(440%) saturate(510%) hue-rotate(200deg)
        brightness(600%) contrast(500%);
    }
  }
}
