@import "@/styles/variables";
@import "rfs/scss";

.burgerMenu {
  // width: 39.58vw;
  // max-width: 385px;
  height: 100vh;
  background-color: $white;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 50;
  // padding: 130px 125px 105px 60px;
  box-sizing: border-box;

  overflow-y: scroll;
  padding: 15.85vh 8.69vw 10.38vh 60px;
  // padding-top: 15.85vh;
  // padding-bottom: 10.38vh;
  // padding-right:  8.69vw ;

  height: 100vh;
  display: block;

  &__wrapper {
    width: 390px;
  }

  &__close {
    position: absolute;
    top: 27px;
    // right: 126px;
    right: 8.75vw;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;

    &:hover {
      filter: invert(61%) sepia(41%) saturate(6824%) hue-rotate(213deg)
        brightness(102%) contrast(104%);
    }
  }

  &__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 45;
    position: absolute;
  }
}

@media screen and (max-width: 800px) {
  .burgerMenu {
    // width: 65.625vw;
    // max-width: 390px;
    padding: 15.85vh 7.04vw 10.38vh 60px;

    // &__close {
    //   right: 28px;
    //   top: 28px;
    // }
  }
}

@media screen and (max-width: 500px) {
  .burgerMenu {
    width: 100vw;
    padding: 100px 44px;

    // &__close {
    //   right: 17px;
    //   top: 14px;
    // }

    &__wrapper {
      width: auto;
    }
  }
}

@media screen and (max-width: 350px) {
  .burgerMenu {
    padding: 80px 20px;
  }
}
