@import "@/styles/variables";
@import "rfs/scss";

.burgerMenu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    outline: none;
  }

  &__link {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    &:hover,
    &:focus {
      color: $base-color;
    }
  }

  .socialsList {
    // bottom: 105px;
    // position: absolute;

    // margin-top: 40vh;
    margin-top: 29.45vh;

    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .burgerMenu {
    &__link {
      font-size: 25px;
    }

    .socialsList {
      margin-top: 43.85vh;
    }
  }
}

@media screen and (max-width: 500px) {
  .burgerMenu {
    &__list {
      gap: 25px;
      padding: 0px 19px;

      & + address .socialsList {
        padding: 0px 19px;
      }
    }

    &__link {
      font-size: 20px;
      letter-spacing: 0.4px;
    }

    .socialsList {
      // bottom: 50px;
      margin-top: 17.82vh;
    }

    .contactMenu {
      gap: 30px;

      .contact__button-wrapper {
        height: 35px !important;
        margin-top: 20px;
      }

      &__links {
        margin-top: 30px;
      }

      &__input {
        font-size: 14px;
        padding: 10px 10px 11px 43px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }
  }
}
