@import "rfs/scss";

$base-color: #7481ff;
$main: #41456b;
$second: #606276;
$font: "Gilroy", sans-serif;
$white: #fff;

:root {
  --base-color: #7481ff;
}

@mixin Font(
  $font-size: 16px,
  $font-weight: 700,
  $line-height: normal,
  $color: $main
) {
  font-family: $font;
  // @include font-size($font-size);
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  margin: 0px;
}
