@import "@/styles/variables";
@import "rfs/scss";

.slider-group {
  display: grid;
  gap: 23px;
  border: none;
  margin: 0px;
  padding: 0px;

  .caption,
  .secondary-text {
    color: $main;
  }
  .secondary-text {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .slider {
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background: #d7d7d7;
    background: linear-gradient(
      90deg,
      $base-color 0%,
      $base-color 25%,
      #d7d7d7 25%,
      #d7d7d7 100%
    );
    height: 8px;
    transition: all 0.3s ease-in-out;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background: $base-color;
      border: 1px solid $base-color;
      cursor: pointer;

      &:active,
      &:hover {
        transform: scale(1.2);
      }
    }

    &::-moz-range-track {
      -moz-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background: $base-color;
      cursor: pointer;
      &:active,
      &:hover {
        transform: scale(1.2);
      }
    }

    &::-ms-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background: $base-color;
      border: 1px solid $base-color;
      cursor: pointer;

      &:active,
      &:hover {
        transform: scale(1.2);
      }
    }

    &::-ms-track {
      -webkit-appearance: none;
      cursor: pointer;
      border-radius: 2px;
      border: none;
      background: #d7d7d7;
      height: 8px;
    }

    &::-ms-fill-lower {
      -webkit-appearance: none;
      background: $base-color;
      height: 8px;
    }

    &::-ms-fill-upper {
      -webkit-appearance: none;
      background: #d7d7d7;
      height: 8px;
    }

    &:focus {
      outline: 1px solid $base-color;
    }
  }
}
