@import "@/styles/variables";
@import "rfs/scss";

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  transition: transform 0.5s ease-in-out;
  &__icon {
    width: 42.5px;
    height: 31.2px;
    &.accent {
      filter: invert(54%) sepia(75%) saturate(3388%) hue-rotate(213deg)
        brightness(101%) contrast(101%);
    }
  }

  &__text {
    color: #7380ff;
    font-size: 28px;
    line-height: 108.5%;
    letter-spacing: 0.56px;
  }

  &:hover {
    filter: drop-shadow(0px 0px 1px black);
    transform: scale(1.1);
  }

  &:focus {
    outline: 1px solid $base-color;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    &__icon {
      width: 30.871px;
      height: 22.663px;
    }
    &__text {
      font-size: 20.295px;
      font-weight: 700;
      line-height: 108.5%;
      letter-spacing: 0.406px;
    }
  }
}
