@import "@/styles/variables";
@import "rfs/scss";

.header {
  display: flex;
  flex-wrap: wrap;

  background-color: $white;
  align-items: center;
  justify-content: space-between;
  // padding: 15px 120px 18px 127.4px;
  padding: 17px 8.4vw 18px 8.9vw;

  width: -webkit-fill-available;
  width: -moz-available;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 63px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 357px;
    height: 45px;
    // gap: 20px;

    .button {
      padding: 16px 24px 15px;
    }
    .button.accent {
      padding: 16px 39px 15px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .header {
    max-width: 1440px;
    margin: auto;
    // width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    @include padding(17px 8.4vw 18px 8.9vw);
  }
}

@media screen and (max-width: 800px) {
  .header {
    @include padding(16px 25px 17px);

    &__buttons {
      width: 335px;

      .button {
        padding: 16px 23px 15px;
      }
      .button.accent {
        padding: 16px 28px 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    // @include padding(16px 24px 17px 35px);
    padding: 17px 24px 18px 31px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    &__inventory {
      display: none;
    }

    &__buttons {
      width: auto;
      height: 45px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 10px 20px 10px 25px;
    &__navigation {
      gap: 23px;
    }

    &__buttons {
      height: 35px;
      .button {
        padding: 10px;
        line-height: 1.4;
      }
      .button.accent {
        padding: 10px 11px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .header {
    gap: 10px;
    justify-content: space-evenly;

    &__navigation {
      width: 100%;
      justify-content: space-between;
    }

    &__buttons {
      height: 30px;
      .button {
        line-height: normal;

        &:hover,
        &:focus {
          transform: scale(1);
        }
      }
    }
  }
}
