@import "@/styles/variables";
@import "rfs/scss";

.footer {
  background: $base-color;
  // position: absolute;
  // bottom: 0px;
  // width: 100%;
  &__wrapper {
    // padding: 42px 120px 60px;
    padding: 42px 127px 60px;
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;

    // margin-left: 7.3px;
    // margin-right: 52px;

    justify-content: space-between;
    max-width: 79.4%;
  }

  &__wrapper-first {
    display: flex;
  }

  &__container {
    display: flex;
    gap: 14px;
    align-items: flex-end;
  }

  .logo {
    &__text {
      color: $white;
    }

    &__icon.accent {
      filter: invert(0%) sepia(0%);
    }
  }

  .footer-text {
    @include Font(16px, 600, 89.775%, $white);
  }

  &__links {
    display: flex;
    gap: 20px;
    margin-bottom: 4px;
  }

  &__link {
    &:hover {
      color: #0b3777;
    }
  }

  .socialsList {
    margin-left: 7.57vw;
    // margin-right: 13.27vw;
    &__item {
      background: $white;

      img {
        filter: invert(57%) sepia(60%) saturate(4017%) hue-rotate(212deg)
          brightness(100%) contrast(101%);
      }
    }
  }

  &__copyright-wrapper {
    display: flex;
    // gap: 115px;
    gap: 8.2vw;
    align-items: center;
  }

  &__copyright {
    @include Font(14px, 400, 159%, $white);
  }
}

@media screen and (min-width: 1500px) {
  .footer {
    &__wrapper {
      max-width: 1440px;
      margin: auto;

      padding: 40px 8.4vw 57px 8.9vw;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__wrapper {
      padding: 42px 8.5vw 62px;
      flex-wrap: wrap;
      gap: 45px;

      margin-left: 0px;
      margin-right: 0px;
    }

    &__wrapper-first {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }

    &__copyright-wrapper {
      width: 100%;
      justify-content: flex-end;
      gap: 28vw;
    }

    &__container {
      align-items: center;
      gap: 12px;
    }

    .socialsList {
      margin-right: 15.8vw;
      margin-left: auto;
      gap: 10px;
    }

    &__copyright {
      margin-right: 35px;
    }

    &__links {
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__wrapper {
      padding: 41px 32px 61px;
      max-width: fit-content;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    &__container {
      gap: 30px;
    }

    .socialsList {
      margin-right: 0px;
    }

    &__copyright {
      margin-right: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    &__wrapper {
      padding: 20px;
      gap: 30px 10px;
    }

    &__wrapper-first {
      gap:30px;
    }

    &__copyright-wrapper {
      gap: inherit;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 350px) {
  .footer {
    &__container {
      flex-wrap: wrap;
    }

    &__copyright-wrapper {
      flex-wrap: wrap;
      gap: 10px;
    }

    &__links {
      flex-wrap: wrap;
    }
  }
}
