@import "@/styles/variables";
@import "rfs/scss";

.inventory-header {
  box-shadow: 0px 1px 0px 0px #d7d7d7;
  .header {
    &__navigation {
      width: 79.6%;
    }

    &__buttons {
      width: 90%;
      max-height: 45px;
      // align-items: flex-end;
      align-items: center;
    }

    &__inventory {
      font-family: Gilroy;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #41456b;
      padding: 0px;
      border: none;
      text-transform: capitalize;

      &:hover,
      &:focus {
        transform: scale(1);
        filter: none;
      }
    }
  }
}

.inventory {
  &__wrapper {
    padding: 40px 120px;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
  }
}

.inventory-characteristics {
  width: 20.84vw;
  &__top {
    width: fit-content;
    margin-bottom: 31px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__clean {
    font-weight: 500;
    line-height: 159%;

    color: $base-color;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
  }

  &__form {
    display: grid;
    gap: 8px;
  }

  &__dropdownCaption {
    font-weight: 600;
    line-height: 14.364px;
  }

  &__container {
    display: grid;
    gap: 10px;

    &:nth-child(2) {
      margin-top: 20px;
    }
  }

  .bodyTypesList {
    display: grid;
    gap: 15px;
  }

  &__kilometers {
    .slider-group {
      gap: 10px;
      .caption {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
      }
      &__container {
        justify-content: flex-start;
        .secondary-text {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 25px;
          text-transform: none;
          color: $second;
        }
      }
    }
  }
}

.inventory-content {
  width: 59.73vw;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .share {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &__icon {
        display: flex;
      }
    }

    .suggestions-list {
      max-width: -webkit-fill-available !important;

      &__wrapper {
        z-index: 10;
        position: absolute !important;
        width: 340px;
        background: white;
        border: 1px solid #d7d7d7;
        border-top: none;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 20px;

    .detailsSearch__input {
      max-width: 350px;
      width: 350px;
      box-sizing: border-box;
    }
  }

  &__sorted {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }

  &__empty {
    width: 100%;
    background: $white;
    padding: 60px;

    border-radius: 5px;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);

    img {
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 10px;
    }

    .secondary-text {
      margin-bottom: 20px;
    }
  }

  &__emptyLink {
    font-weight: 700;
    line-height: 89.775%;
    text-transform: uppercase;
    color: $base-color;
  }

  .pagination {
    margin: 0px auto;
  }
}
